body {
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.count {
  font-size: 3rem;
  margin-bottom: 20px;
}

.btn-Counter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  margin: 0 10px;
  background-color: #182b41;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  text-transform: uppercase;
}

button:hover {
  background-color: black;
}

input {
  margin: 20px;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100px;
}

.factortext {
  margin-bottom: 20px;
}
.message {
  font-size: 1.2rem;
  margin-top: 20px;
  color: #0077ff;
}
